
a{

display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
gap: 20px;

width: 80px;
overflow: hidden;
height: 80px;
border-radius: 50%;
background-color: #1d9bf0;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;

svg{
  width: 50px;
}
}