body, h1, h2, h3, h4, h5, p, ol, ul, li{
  margin: 0;
  padding: 0;
}

input, button{
  background: none;
  outline: none;
  border: none;
}

.hidden{
  display: none;
}

body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  url(./images/background.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

header{
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgba(191, 191, 191, 0.5);
  backdrop-filter: blur(15px);
  position: absolute;
  top: 0;
  transition: all 1s 1s;
} 

header button{
  font-weight: bold;
  width: 400px;
  height: 100px;
  /* border: 10px solid; */
  font-size: 20px;
}

.click{
  transition: all 1s;
  transform-style: preserve-3d;
  position: absolute;
  width: 400px;
  height: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.click:hover{
  animation: rotate 10s infinite;
}

.click-front1{
  position: absolute;
  top: 25%;
  left: 0;
  color: #000;
  transform: rotateX(0deg) translateZ(50px);
  backdrop-filter: blur(15px);
  background-color: rgba(191, 191, 191, 0.5);
}

.click-front2{
  position: absolute;
  top: 25%;
  left: 0;
  color: #000;
  /* background-color: #fff; */
  transform: rotateX(0deg) translateZ(-50px);
  backdrop-filter: blur(15px);
  background-color: rgba(191, 191, 191, 0.5);
}

.click-bottom1{
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 25%;
  top: auto;
  transform: rotateX(90deg) translateZ(50px);
  backdrop-filter: blur(15px);
  background-color: rgba(191, 191, 191, 0.5);

}

.click-bottom2{
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 25%;
  top: auto;
  transform: rotateX(90deg) translateZ(-50px);
  backdrop-filter: blur(15px);
  background-color: rgba(191, 191, 191, 0.5);
}

@keyframes rotate {
  0%{
    transform: translate(-50%, -50%) rotateX(360deg);
  }
  12.5%{
    transform: translate(-50%, -50%) rotateX(270deg);
  }
  25%{
    transform: translate(-50%, -50%) rotateX(180deg);
  }
  37.5%{
    transform: translate(-50%, -50%) rotateX(90deg);
  }
  50%{
    transform: translate(-50%, -50%) rotateX(0deg);
  }
  62.5%{
    transform: translate(-50%, -50%) rotateX(-90deg);
  }
  75%{
    transform: translate(-50%, -50%) rotateX(-180deg);
  }
  87.5%{
    transform: translate(-50%, -50%) rotateX(-270deg);
  }
  100%{
    transform: translate(-50%, -50%) rotateX(-360deg);
  }
}

.title{
  text-align: center;
  width: 30vw;
  margin: 0 auto;
}

.title>h1{
  padding: 45px 20px;
  font-size: min(5vw,45px)
}

.container{
  text-align: center;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.typing{
  margin-top: 100px;
}

.col{
  margin: auto 0;
}

.text-success{
  color: orangered;
  font-weight: bold;
}

.start{
  font-size: 50px;
  margin-bottom: 5px;
  padding: 20px;
}

.col>input{
  background: #fff;
  width: 80%;
  padding: 15px;
}

#message{
  margin-top: 10px;
}

.timescore{
  padding: 20px;
}

.cardrow{
  margin-top: 50px;
  padding: 20px;
  backdrop-filter: blur(15px);
  background-color: rgba(191, 191, 191, 0.5);
  border-radius: 30px;
}

.card h5{
  margin-bottom: 20px;
}